body {
  background-image: url('https://img.freepik.com/vetores-gratis/fundo-de-tecnologia-abstrato-gradiente-azul_23-2149213765.jpg?t=st=1730582961~exp=1730586561~hmac=4448ffdcad46b179ef9cefeb0eac34b5005a01f891380d0a7aa660ac48ad2384&w=996');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0; 
}