body {
  background-image: url('https://images.pexels.com/photos/2289414/pexels-photo-2289414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0; 
}