<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <title>Página Inicial</title>

    </head>

    <body>


            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">MedTec</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                                <a class="nav-link" href="{% url '/app/list_pacientes' %}">Pacientes <span
                                    class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span
                                class="sr-only">(current)</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>


        </header>

            <div
                class="d-flex flex-column justify-content-center align-items-center h-100">
                <div>
                    <h1 class="text-white mb-0">Bem-vindo, Administrador!</h1>
                </div>
                <div>
                    <h3 class="text-white mb-0">Selecione uma das opções na
                        barra de navegação e comece a gerenciar sua
                        clínica.</h1>
                </div>
            </div>
    </body>

</html>
